/* Mengatur kanvas utama menggunakan Flexbox */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f9;
    margin: 0;
    min-height: 100vh; /* Memastikan tinggi layar penuh */
    
    display: flex;
    justify-content: center; /* Meratakan ke tengah horizontal */
    align-items: center; /* Meratakan ke tengah vertikal */
}

/* Kotak putih pembungkus konten */
.container {
    background-color: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    max-width: 600px; /* Lebar maksimal agar teks enak dibaca */
    
    display: flex;
    flex-direction: column; /* Menyusun isi kotak dari atas ke bawah */
    align-items: center;
}

/* Mengatur teks artikel agar rapi (Rata kiri-kanan) */
.artikel {
    text-align: justify;
    line-height: 1.6; /* Jarak antar baris agar nyaman dibaca */
    color: #333;
    margin-bottom: 20px;
}

img {
    width: 100px;
    margin: 15px 0;
    transition: transform 0.3s ease;
}

/* Desain Tombol JS */
button {
    background-color: #1a73e8;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 25px;
}

button:hover {
    background-color: #1557b0;
}

/* Desain Tombol Pindah Halaman (Tag <a>) */
.tombol-navigasi {
    text-decoration: none; /* Menghilangkan garis bawah bawaan link */
    color: #1a73e8;
    font-weight: bold;
    padding: 10px;
    border: 2px solid #1a73e8;
    border-radius: 6px;
    transition: 0.2s;
}

.tombol-navigasi:hover {
    background-color: #f0f4f9;
}